USE [bancopromerica_prueba]
GO
/****** Object:  Table [dbo].[Puestos]    Script Date: 24/07/2025 05:40:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puestos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [int] NOT NULL,
	[Puesto] [nvarchar](100) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[CodigoJefe] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Puestos] ON 

INSERT [dbo].[Puestos] ([Id], [Codigo], [Puesto], [Nombre], [CodigoJefe]) VALUES (1, 1, N'Gerente', N'Pedro', NULL)
INSERT [dbo].[Puestos] ([Id], [Codigo], [Puesto], [Nombre], [CodigoJefe]) VALUES (2, 2, N'Sub Gerente', N'Pablo Villatoro', 1)
INSERT [dbo].[Puestos] ([Id], [Codigo], [Puesto], [Nombre], [CodigoJefe]) VALUES (3, 3, N'Supervisor', N'Juan', 2)
SET IDENTITY_INSERT [dbo].[Puestos] OFF
GO
/****** Object:  Index [UQ__Puestos__06370DACC893FA10]    Script Date: 24/07/2025 05:40:16 p. m. ******/
ALTER TABLE [dbo].[Puestos] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Puestos]  WITH CHECK ADD  CONSTRAINT [FK_Jefe] FOREIGN KEY([CodigoJefe])
REFERENCES [dbo].[Puestos] ([Codigo])
GO
ALTER TABLE [dbo].[Puestos] CHECK CONSTRAINT [FK_Jefe]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarPuesto]    Script Date: 24/07/2025 05:40:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarPuesto]
    @Id INT,
    @Codigo INT,
    @Puesto NVARCHAR(100),
    @Nombre NVARCHAR(100),
    @CodigoJefe INT = NULL
AS
BEGIN
    UPDATE Puestos
    SET Codigo = @Codigo,
        Puesto = @Puesto,
        Nombre = @Nombre,
        CodigoJefe = @CodigoJefe
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarPuesto]    Script Date: 24/07/2025 05:40:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarPuesto]
    @Id INT
AS
BEGIN
    DELETE FROM Puestos WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarPuesto]    Script Date: 24/07/2025 05:40:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarPuesto]
    @Codigo INT,
    @Puesto NVARCHAR(100),
    @Nombre NVARCHAR(100),
    @CodigoJefe INT = NULL
AS
BEGIN
    INSERT INTO Puestos (Codigo, Puesto, Nombre, CodigoJefe)
    VALUES (@Codigo, @Puesto, @Nombre, @CodigoJefe);
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerJerarquia]    Script Date: 24/07/2025 05:40:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerJerarquia]
AS
BEGIN
    WITH Jerarquia AS (
        SELECT
            P.Id,
            P.Codigo,
            P.Puesto,
            P.Nombre,
            P.CodigoJefe,
            0 AS Nivel
        FROM Puestos P
        WHERE P.CodigoJefe IS NULL

        UNION ALL

        SELECT
            H.Id,
            H.Codigo,
            H.Puesto,
            H.Nombre,
            H.CodigoJefe,
            J.Nivel + 1
        FROM Puestos H
        INNER JOIN Jerarquia J ON H.CodigoJefe = J.Codigo
    )
    SELECT * FROM Jerarquia ORDER BY Nivel, Codigo;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPuestoPorId]    Script Date: 24/07/2025 05:40:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPuestoPorId]
    @Id INT
AS
BEGIN
    SELECT * FROM Puestos WHERE Id = @Id;
END
GO
